.details {
  background-color: var(--btn-hover);
  color: white;
}
select {
  width: 30%;
}
.bill {
  background-color: #315858;
  color: white;
}
.bill-container {
  gap: 7px;
}
.sort-section{
  width: 100%;
}
.sort-section select{
  width: 200px;
}
@media screen and (max-width: 767px) {
  .card {
    width: 100% !important;
  }
}

@media screen and (max-width: 417px) {
  select {
    width: 100%;
  }
}
@media screen and (max-width: 468px) {
  .details {
    font-size: 12px;
    width: 117px;
  }
}
