<div class="card m-auto" style="width: 28rem">
  <form
    #userchangePasswordRequestForm="ngForm"
    class="card-body"
    (ngSubmit)="changePassword()"
  >
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="oldPassword"
        placeholder="Old password"
        name="oldPassword"
        [(ngModel)]="changePasswordRequest.oldPassword"
      />
      <label for="floatingInput">Old password</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="newPassword"
        placeholder="New password"
        name="newPassword"
        [(ngModel)]="changePasswordRequest.newPassword"
      />
      <label for="newPassword">New password</label>
    </div>
    <div class="d-grid mt-2">
      <button class="btn btn-primary">Change password</button>
    </div>
  </form>
</div>
