<ul class="nav justify-content-center border-teal mb-2 top">
  <li class="nav-item">
    <a
      class="nav-link"
      aria-current="page"
      routerLink="/farmer/accounts/details"
      routerLinkActive="active"
      >Details</a
    >
  </li>
  <span class="toggler"></span>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/farmer/accounts/change-password"
      routerLinkActive="active"
      >Password</a
    >
  </li>
  <span class="toggler"></span>
  <li class="nav-item">
    <a class="nav-link">Link</a>
  </li>
  <span class="toggler"></span>
</ul>
<router-outlet></router-outlet>
